{% extends 'base.html' %} 
{% block title %} Refund Policy {% endblock %} 
{% block content %}
<h1 style="color: #d21135;">Shipping and Returns</h1>
<div class="page-content page-content--centered">
    <p>
        <p style="font-size: 18px;"><strong>The BoardGameStore Return Policy applies to orders placed on <span><a style="color: orange;" href="https://linda-boardgamestore.herokuapp.com/">www.The BoardGameStore.com</a></span> only. If your case was purchased through Amazon, please contact them directly for return instructions.</strong></p>
        <h4><span style="text-decoration: underline; color: #d21135;">30 DAY RETURN POLICY</span></h4>
        </p>
        <p><span style="font-size: medium;">If you are not happy with your The BoardGameStore purchase not a problem! We can accept a return of the unused product that&rsquo;s in the original packaging within 30 days. Please email us at <span style="text-decoration: underline;"><a style="color: orange;" href="mailto:support@The BoardGameStore.com">support@The BoardGameStore.com</a></span>&nbsp;and
            enter &ldquo;Return Request&rdquo; in the subject line with the below information. We will contact you within 3-5 business days of receipt.</span>
        </p>
        <ul>
            <li><span style="font-size: medium;">Full Name listed on the order</span></li>
            <li><span style="font-size: medium;">Phone number</span></li>
            <li><span style="font-size: medium;">Order number</span></li>
            <li><span style="font-size: medium;">Reason for the return</span></li>
        </ul>
        <h4><span style="text-decoration: underline; color: #d21135;">For International Returns</span></h4>
        <p><span style="font-size: medium;">The BoardGameStore does not cover return shipping costs or customs fees for International orders. Should you prefer to return the case, we recommend that you ship the products via a trackable shipment method. A refund will then be processed once tracking indicates the item has been received.</span></p>
        <h4><span style="text-decoration: underline; color: #d21135;">When will my order ship?</span></h4>
        <p><span style="font-size: medium;">Typically your order will ship within 24-48 hours after being received. Our normal shipping and order processing days are Monday through Friday.&nbsp;<strong>No orders are processed on Saturday, Sunday, or major holidays. </strong>Once your order ships, you will receive an email with your tracking number.</span></p>
        <h4><span style="text-decoration: underline; color: #d21135;">Estimated Arrival Times for Domestic Orders</span></h4>
        <p><span style="font-size: medium;">For US orders we provide FREE shipping.&nbsp; iPad cases ship by USPS Priority and usually take between 2-3 business days to reach you.&nbsp; (These are only estimates which can change during the holidays or adverse weather conditions.) &nbsp;Tracking information will be sent by email once the order is processed.</span></p>
        <h4><span style="text-decoration: underline; color: #d21135;">International Orders</span></h4>
        <p><span style="font-size: medium;">Cases will ship by either DHL Global Mail International or USPS Priority Mail.</span></p>
        <h4><span style="text-decoration: underline; color: #d21135;">DHL Global Mail International:</span></h4>
        <p><span style="font-size: medium;">*When an item is shipped DHL Global Mail International the average delivery time can range from 2-3 weeks.&nbsp; International shipping delivery times can vary by country, and in some cases take longer than a month to arrive. We are not responsible for the delays that may occur with international shipments.&nbsp;</span></p>
        <p><span style="font-size: medium;">&nbsp;**Additional duty fees that may be charged by the shipping carrier are the customer&rsquo;s responsibility.</span></p>
        <h4><span style="text-decoration: underline; color: #d21135;">USPS Priority International:</span></h4>
        <p><span style="font-size: medium;">*Average delivery time is 6-10 business days, however this is an estimate. <strong>Actual delivery time will depend on each country and how quickly the&nbsp;package is cleared through customs.</strong></span></p>
        <p><span style="font-size: medium;">**Additional duty fees that may be charged by the shipping carrier are the customer&rsquo;s responsibility.</span></p>
    </p>
</div>
{% endblock %}