{% extends 'base.html' %} {% block title %} Terms & Conditions {% endblock %} {% block content %}
<h2><span style="color: #d21135;">TERMS AND CONDITIONS</span></h2>

<p>The website is provided by <strong>The BoardGameStore</strong>. When we refer to &#8220;<strong>you</strong>&#8221; and &#8220;<strong>your</strong>&#8221; we mean the user of the Website and purchaser of Goods.</p>
<p>These terms and conditions form a legally binding contract between us and you. Your acceptance of the terms and conditions is given when you purchase Goods from us. You should read these terms and conditions carefully before buying anything from this
    Website.</p>
<h4><span style="text-decoration: underline;"><span style="color: #d21135; text-decoration: underline;">1. OUR WEBSITE AND OUR GOODS</span></span>
</h4>
<p>This Part sets out some terms about information on the Website, descriptions of Goods and how you use the Website.<br /> Separate Notices and Disclaimers apply to your use of the Website. By accepting these terms and conditions you also agree to the Notices
    and Disclaimers.</p>
<p>The intellectual property rights in all software and content made available to you on or through the Website is our property or the property of our licensors and all such rights are reserved by us and our licensors. You are not permitted to publish, manipulate,
    distribute or otherwise reproduce, in any format, any of the content or copies of the content supplied to you or which appears on the Website nor may you use any such content in connection with any business or commercial enterprise.</p>
<p>The BoardGameStore is a trade mark belonging to us and no licence or consent is granted to you to use these marks in any way, and you agree not to use these marks or any marks which are colourably similar without our written permission.</p>
<p>We try to make sure that all information on the Website, including descriptions of our Goods, and listed prices, are accurate and correct at all times. However, mistakes do happen. We will try to resolve all information errors on the Website as soon as
    reasonably possible, and if we reasonably think that such an error has affected your purchase of Goods we will try to let you know. However, because we take these steps we will not be liable to you for any errors on the Website.</p>
<p>You should bear in mind that buying clothing and accessories over the internet provides a different shopping experience to buying in-store. In particular you acknowledge that:</p>
<p>• <strong>Only one promotional code can be used at a time</strong>;</p>
<p>• All Goods sold are brand new and sealed, unless stated otherwise.</p>
<p>• The colours which are shown for the Goods on the Website will depend on many factors – including your display settings;</p>
<p>• All Goods are subject to availability &#8211; we may not be able to supply your order; ,</p>
<p>• Any delivery estimates given on the Website or by email are estimates only;</p>
<p>• The Goods and promotions which are offered on the Website may not be available in-store, and vice-versa.</p>
<p>You are responsible for ensuring that your login details, password and all other details in relation to your account remain confidential at all times.</p>
<h4><span style="text-decoration: underline;"><span style="color: #d21135; text-decoration: underline;">2. BUYING GOODS</span></span>
</h4>
<p>This Part sets out some terms which apply to your purchase or reservation of Goods from us through the Website.</p>
<p><strong>Part 2a &#8211; Purchase</strong></p>
<p>You make an offer to purchase a product from us (your &#8220;<strong>Order</strong>&#8220;) by completing the staged process on the Website as set out below:</p>
<p>• Adding product to your shopping basket<br /> • Checkout step 1 – login details<br /> • Checkout step 2 – address details<br /> • Checkout step 3 – payment details, and<br /> • Confirmation of order</p>
<p>Your Order only constitutes an offer to purchase Goods from us, and does not form a binding contract until accepted by us. Where you order more than one product your Order contains a series of offers for each product individually.</p>
<p>On receipt of your Order, we will send you an Order acknowledgement email to the email address which you provide in the Order process. This Order acknowledgement email will contain your Order number, details of the Goods ordered and a delivery estimate.
    Note that this email is only to acknowledge that your order has been received, and is not acceptance by us of any offers to purchase Goods.</p>
<p>We must receive full payment both of the price of the Goods and any delivery charges before we can accept any offers. Where you select to pay by credit or debit card we will process the payment at the time of preparing your Goods, whereby payment will
    be processed upon receipt of your Order.</p>
<p>An offer made by you to purchase a product shall only be deemed to be accepted by us when we despatch that product to you and send you an Order despatch SMS / email which includes details of the product. We reserve the right to refuse any offers in an
    Order prior to acceptance. If a product is not available we will include details of the unavailable product in the Order despatch email. A product which is not available will not be included in the contract for a product which is despatched.</p>
<p>All prices and charges on the Website are in Singapore Dollars. Delivery charges may apply and these will be displayed in the order process.</p>
<p>If you order Goods from our Website for delivery outside Singapore, they may be subject to import duties and taxes which are levied when the delivery reaches the specified destination. You will be responsible for payment of any such import duties and
    taxes. Please note that we have no control over these charges and cannot predict their amount. Please contact your local customs office for further information before placing your order.<br /> Please note that you must comply with all applicable laws
    and regulations of the country for which the Goods are destined. We will not be liable for any breach by you of any such laws.</p>
<p><strong>Part 2b &#8211; Delivery</strong></p>
<p>We currently offer the delivery options only on working days, i.e. days when the bank is open.</p>
<p>We endeavour to ensure that the Products that you order are provided by the agreed delivery date and where applicable time, however, delays are occasionally inevitable due to unforeseen circumstances. Neither The BoardGameStore nor our nominated carrier
    shall be under any liability for any delay or failure to deliver the Products within the estimated time frame.</p>
<p>Risk of loss and damage of Products passes to you on the date and time of delivery of the Products.<br /> We ship to any Singapore address, except from restricted areas, Tuas and Jurong Island.</p>
<h4><span style="text-decoration: underline; color: #d21135;">3. RETURNING GOODS</span></h4>
<p>This Part 3 sets out the terms which govern your right to return any Goods that you do not want to keep.</p>
<p>When we deliver your Goods to you, all Goods are brand new and sealed. Should you choose to return the Goods, it must be in its brand new and sealed state.</p>
<p>You must then, within one week of receiving the Goods, using the following method:</p>
<ul>
    <li>sending an email to admin@theboardgamestore.com with the description of game that you are returning and we will send a representative to collect your Goods. Delivery rates apply.</li>
</ul>
<p>We will refund to the initial payment method chosen (Cash, Bank Transfer etc..) the price paid for the Goods returned, less the delivery costs, within one working week upon receiving</p>
<p>Should the Goods be opened and minor defects such as crumpled pages, chipped components be found, we are unable to refund as these defects come directly from manufacturer. If you are unsure what defines a minor defect, you must take a picture of said
    defected item and email to admin@theboardgamestore.com. We would then determine on our own end and get back to you within 1 working day.</p>
<p>Should the Goods be opened and major defects such as missing game board, missing cards be found, you may choose 2 courses of actions, within 1 working week from purchase.</p>
<ul>
    <li>Sending us the Goods for an exchange by contacting us at admin@theboardgamestore.com. If we do not have the Goods in stock, it might take 1 working week for us to get the Goods from the manufacturer.</li>
    <li>A 50% refund from The BoardGameStore. Contact us at admin@theboardgamestore.com and we will send a representative to collect your Goods. Delivery rates apply.</li>
</ul>
<h4><span style="text-decoration: underline; color: #d21135;">4. T&amp;Cs RELATING TO US AND YOU</span></h4>
<p>This Part 4 sets out some general terms that govern our relationship with you and purchases by you.</p>
<p>We will not be responsible for the performance of any obligations under these terms and conditions in the case of an event outside of our reasonable control (force majeure), including (but not limited to) strikes, lockouts, failures of third party systems
    or networks, acts of god, fire, earthquake, storm, flood or other natural disaster, civil unrest, acts of terrorism, deliberate sabotage of or malicious damage to equipment or data or for damage to or destruction of premises or equipment.</p>
<p>All notices which we need to give to you under these terms and conditions will be sent by us to your registered e-mail address.</p>
<p>All communications from you to us must be made in English.</p>
<p>These terms and conditions set out the entire agreement between you and us in respect of the sale, purchase and use of the Goods. They supersede any previous agreement or understanding in relation to the subject matter hereof. They may only be varied
    where separately agreed in writing between you and us.<br /> If any provision of these terms and conditions is held by any competent authority to be invalid or unenforceable in whole or in part, the validity of the other provisions (and the remainder
    of the provision in question) shall be unaffected.</p>
<h4><span style="text-decoration: underline; color: #d21135;">5. COLLECTION OF PERSONAL DATA</span></h4>
<p>The BoardGameStore protects the privacy of every customer. For more information, refer to The BoardGameStore Personal Data Protection Policy.</p>
<p>Save to the extent that you exercise your right as a consumer to bring an action in or rely on the laws of your country of domicile, the interpretation, construction, effect and enforceability of these terms and conditions shall be governed by Singapore
    Law, and you and we agree to submit to the non-exclusive jurisdiction of Singapore courts for the determination of disputes.</p>
<p>We reserve the right to change the terms and conditions under which the Website and the Goods are provided. Any such change in terms and conditions will be effective to all new orders once included in the text of these terms and conditions and published
    on the Website. You should check the terms and conditions posted on the Website periodically to ensure that you are aware of and comply with the current version.<br /> If you have any questions about the terms and conditions, the Goods or the Website
    please <a style="color:orange; text-decoration: none;" title="contact us" href="{% url 'contact_us' %}">contact us.</a></p>
{% endblock %}