{% extends 'base.html' %} {% block title %} Checkout Form {% endblock %} {%block content %}

<h1>Checkout Form</h1>

<div class="checkout_form">
    <h2>Shipping address</h2>
    <form method="POST">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">First Name</label>
                <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Last Name</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="e.g. 1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2 (optional)</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputState">Country</label>
                <select id="inputState" class="form-control">
                <option selected>Choose Country</option>
                {% load countries %}
                {% get_countries as countries %}
                {% for country in countries %}
                <option value="{{ country.code }}">{{ country.name }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip / Postal Code</label>
                <input type="text" class="form-control" id="inputZip" placeholder="Zip / Postal Code">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Username</label>
                <input type="text" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-group">
            <label for="">Order Notes (Optional)</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>
    </form>

</div>


{% endblock %}