{% extends 'base.html' %} {% block page_title %} Shopping Cart {% endblock %} 


{%block content %}
<!--<h1>Your Cart</h1>-->
<!--<ul>-->
<!--    {%for id,game in shopping_cart.items %}-->
<!--        <li>-->
<!--            {{game.name}}<br/>-->
<!--            ${{game.price}}-->

<!--            {%if game.image_url %}-->
<!--            <img src="{{game.image_url}}" /> -->
<!--            {% endif%}-->

<!--            <a href="{% url 'remove_from_cart' game_id=id %}">Remove</a>-->
<!--        </li>-->
<!--    {%endfor%}-->
<!--</ul>-->

<section class="Shopping Cart">
<table class="table cart">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Game</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total Item Price</th>
        </tr>
    </thead>
    <tbody>
        {%for id,game in shopping_cart.items %}
        <tr>
            <td><img src="{{game.image_url}}" /></td>
            <td>{{game.name}}</td>
            <td>
                <a href="{% url 'minus_from_cart' game_id=id %}"><i class="fas fa-minus mr-2"></i></a>
                 {{game.quantity}} 
                <a href="{% url 'add_to_cart' game_id=id %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>${{game.price}}</td>
            <!--{% if variable|length %}-->
            <!--variable is not empty-->
            <!--{% else %}-->
            <!--variable is empty-->
            <!--{% endif %}-->
            <td>${{game.total_price}}</td>
            <td><a href="{% url 'remove_from_cart' game_id=id %}" style="color: red"><i class="fas fa-trash"></i></a></td>
        </tr>
        {%endfor%}
        <tr class="total_price">
            <th scope="row">Order Total: </th>
            <td colspan="12">${{grand_total_price}}</td>
        </tr>

        <tr>
            <td colspan="12">
                <!--<a class='btn btn-warning float-right ml-2' href='/checkout/'>Proceed to checkout</a>-->
                <a class='btn btn-warning float-right ml-2' href='{% url 'checkout_form' %}'>Proceed to checkout</a>
                <a class='btn btn-primary float-right' href='{% url 'show_games' %}'>Continue shopping</a>
            </td>
        </tr>
    </tbody>
</table>

</section>


{%endblock %}