{% extends 'base.html' %} 

{% load static %}

{% block title %} Cart {% endblock %} 

{%block content %}
<section class="shopping_cart">
    <!--Small screen sizes-->
    <h1>Game Cart</h1>
    
    {%for game in shopping_cart.items %}
    
    {% empty %}
    <div class="row empty_cart">
    <h3>Your Cart is empty :(</h3>
    <img src="{% static 'images/sad_cat.jpg'%}" id="meow"></img>
    </div>
    {% endfor %}

    <div class="row d-md-none">
    <table class="table cart small_cart">
        <tbody>
            {%for id,game in shopping_cart.items %}
            <tr>
                <td></td>
                <td class="game_img"><a href="{% url 'game_info' game_id=game.id %}"><img src="{{game.image_url}}" /></a></td>
                <td><a href="{% url 'remove_from_cart' game_id=id %}"><i class="fas fa-times" style="color:black;"></i></a></td>
            </tr>
            
            <tr>
                <td>Game:</td>
                <td></td>
                <td>{{game.name}}</td>
            </tr>
            <tr>
                <td>Price:</td>
                <td></td>
                <td>${{game.price}}</td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td></td>
                <!--<td><input type="number" value="{{game.quantity}}" placeholder="1" min="1" max="99"/></td>-->
                <td>
                <a href="{% url 'minus_from_cart' game_id=id %}"><i class="fas fa-minus mr-2 plus"></i></a> {{game.quantity}}
                <a href="{% url 'add_to_cart' game_id=id %}"><i class="fas fa-plus ml-2 minus"></i></a>
                </td>
            </tr>
             <tr class="subtotal">
                <td>Subtotal:</td>
                <td></td>
                <td>${{game.total_price}}</td>
            </tr>
            
            <tr class="insert_line"></tr>
            
            <!--endfor-->
            
    {%endfor%}
    
    {% if grand_total_price %}
            <tr class="total_price">
                <td>Grand Total: </td>
                <td></td>
                <td colspan="12">${{grand_total_price}}</td>
            </tr>
            
            {% endif %}
    <!--endfor-->

            <tr>
                <td colspan="12">
                    <form method='GET' action="{% url 'charge' %}">
                        <input type='number' name='amount' class='form-control' value="{{grand_total_price}}" />
                        <button id="checkout_mobile" class='btn-warning float-right ml-2' href="{% url 'charge' %}"><i class="fas fa-money-bill-alt"></i> CHECKOUT</button>
                        <!--<input id="checkout_mobile" class='btn btn-warning float-right ml-2' href="" type="submit" placeholder="CHECKOUT" />-->
                        <a class='btn btn-success float-right shopping' href="{% url 'show_games' %}"><i class="fas fa-puzzle-piece"></i> BACK TO SHOP</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <!-- Medium and Large screen sizes-->
    <div class="row d-none d-md-block">
    <table class="table cart">
        <thead id="table_head">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Game</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Subtotal</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {%for id,game in shopping_cart.items %}
            <tr>
                <td class="game_img"><a href="{% url 'game_info' game_id=game.id %}"><img src="{{game.image_url}}" /></a></td>
                <td>{{game.name}}</td>
                <td>
                    <a href="{% url 'minus_from_cart' game_id=id %}"><i class="fas fa-minus mr-2 plus"></i></a> {{game.quantity}}
                    <a href="{% url 'add_to_cart' game_id=id %}"><i class="fas fa-plus ml-2 minus"></i></a>
                </td>
                <td>${{game.price}}</td>
                <td>${{game.total_price}}</td>
                <td><a href="{% url 'remove_from_cart' game_id=id %}"><i class="fas fa-trash dustbin"></i></a></td>
            </tr>
            
            {%endfor%}
            
            {% if grand_total_price %}
            <tr class="total_price">
                <th scope="row">Grand Total: </th>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="12">${{grand_total_price}}</td>
            </tr>
            {% endif %}

            <tr>
                <td colspan="12" class="tablet_td">
                    <form method='GET' action="{% url 'charge' %}">
                        <input type='number' name='amount' class='form-control' value="{{grand_total_price}}" style="display:none;" />
                        <button id="checkout_tablet" class='btn-warning float-right ml-2' href="{% url 'charge' %}"><i class="fas fa-money-bill-alt"></i> CHECKOUT</button>
                        <a class='btn btn-success float-right shopping' href="{% url 'show_games' %}"><i class="fas fa-shopping-cart"></i> Continue shopping</a>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

</section>


{%endblock %}