{% extends 'base.html' %} 
{% block title %} The BoardGameStore{% endblock %}

{% load static %} 

{%block content%}

<div class="welcome_image">
  <img src="{% static 'images/monopoly_carousell.jpg' %}" alt="closeup monopoly boardgame">
</div>

<section class="welcome_message">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
    has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up
    one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum
    et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
    1.10.32.</p>
</section>

<section class="best_sellers">
  <h3>Best Sellers</h3>

  <div class="card-group">
    <div class="card">
      <img src="{% static 'images/dixit_best.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dixit</h5>
        <p class="card-text">2011 Guldbrikken Best Family Game Nominee</p>
        <p class="card-text">2010 Games Magazine Best New Party Game Winner</p>
        <button type="button" class="btn btn-outline-success">More Info</button>
        <button type="button" class="btn btn-warning">Add To Cart</button>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card">
      <img src="{% static 'images/resistance_best.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Resistance</h5>
        <p class="card-text">2010 Golden Geek Best Print & Play Board Game Nominee</p>
        <p class="card-text">2011 Japan Boardgame Prize Voters’ Selection Nominee</p>
        <button type="button" class="btn btn-outline-success">More Info</button>
        <button type="button" class="btn btn-warning">Add To Cart</button>
        <p class="card-text"><small class="text-muted">Last updated 9 mins ago</small></p>
      </div>
    </div>
    
        <div class="card">
      <img src="{% static 'images/betrayal_best.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Betrayal At House On Hill</h5>
        <p class="card-text">2004 Origins Gamers’ Choice Award</p>
        <p class="card-text">2010 Games Magazine Best New Party Game Winner</p>
        <button type="button" class="btn btn-outline-success">More Info</button>
        <button type="button" class="btn btn-warning">Add To Cart</button>
        <p class="card-text"><small class="text-muted">Last updated 7 mins ago</small></p>
      </div>
    </div>
    
  </div>


</section>

{%endblock%}
