{% extends 'base.html' %} 

{% block title %} The BoardGameStore {% endblock %} 

{% load static %} 

{%block content%}

<div class="welcome_image">
  <img src="{% static 'images/monopoly_carousell.jpg' %}" alt="closeup monopoly boardgame">
</div>

<section class="welcome_message">
  <h1>Welcome to The BoardGameStore!</h1>
  <h3>Singapore's best online boardgame store</h3>
  <p>Here you will be spoiled for choice for the variety of fun and adventure that is awaiting you, your friends and your family! Staying home or indoors this COVID-19 period? What better way to spend your time than play some boardgames! Head on over to
    our shop, there are so many different kinds of games for some fun activity your brain is screaming for.</p>
  <p>Our prices are the best in Singapore! We dare say if you show us a game that is sold at a lower price, you'll get to keep the game bought from our store, plus a refund! Come come come, get ready for some wonder and introvert friendly activity you know
    you can't resist. What are you waiting for? Click on the shop button and checkout a game today!</p>

</section>

<br>
<section class="best_sellers">
    <h3>Our Best Sellers</h3>
  <div class="row">
    {% for game in homepage_display %}
  <div class="col col-lg-3">
      <div class="card">
        <img src="{{game.image}}" class="card-img-top" alt="Fun boardgame {{game.name}} cardboard box">
        <div class="card-body">
          <h5 class="card-title">{{game.name}}</h5>
          <span class="card-text price_strikethrough">${{game.price|add:"18"}}</span>
          <span class="card-text">SGD ${{game.price}}</span>
          <a href="{% url 'game_info' game_id=game.id %}" class="btn btn-outline-success more_info"><i class="fas fa-info"></i> MORE INFO</a>
          <a href="{% url 'add_to_cart' game_id=game.id %}" class="btn btn-warning add_to_cart"><i class="fas fa-location-arrow"></i> ADD TO CART</a>
          <p class="card-text"><small class="text-muted">An award winning boardgame</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{%endblock%}
