{% extends 'base.html' %} 

{% load i18n %}

{%block title%} Password Reset {%endblock%}

{% load crispy_forms_tags %} 

{%block content%}

<div class="reset_password_form_look">
<div class="reset_password">
<h1>Reset Password</h1>

<p>Forgotten your password? 
<br />
Enter your email, and we'll send you some instructions.</p>
<form method="POST">
  {% csrf_token %} 
  {{ form|crispy}}
  
  <label for="id_email">Email address: </label>
  <br />
  <input type="email" placeholder="Enter your email" />
  <br />
  <a href="{% url 'password_reset_done' %}" class="btn btn-warning" type='submit'>Reset My Password</a>
  
</form>
</div>
</div>
{% endblock %}