{% extends 'base.html' %} 

{% load i18n %}


{%block title%} Password Reset {%endblock%} 

{% load crispy_forms_tags %} 

{%block content%}
<h1>Reset Password</h1>

<p>Forgotten your password? Enter your email, and we'll send you some instructions.</p>
<form method="POST">
  {% csrf_token %} 
  {{ form|crispy}}
  
  <label for="id_email">Email address: </label>
  <input type="email" value="Reset My Password" />
  <br />
  <button class="btn btn-primary mb-3" type='submit'>Reset My Password</button>
  
</form>

{% endblock %}