{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>{%block title%} {%endblock%}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="icon" href="{% static 'images/knight-favicon.png' %}" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto|Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" type="text/css" />

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,xz initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="The BoardGameStore">
  <meta name="keywords" content="Boardgames, Fun, Puzzle, Party, Games">
  <meta name="author" content="Linda Hsu">

</head>

<body>
  <div class="container-fluid top-row">
    <div class="row bg-dark">
      <div class="free-shipping">
        <p>Free Delivery on All Orders Over $300!</p>
      </div>
    </div>

    <div class="row bg-dark">
      <div class="search_games">
        <form method="GET" class="form-inline" action="{% url 'show_games' %}">
          <input name="search_terms" class="form-control mr-sm-2" type="search" placeholder="Search For Games/ Category">
          <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid navbar_whole">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand boardgamestore_brand" href="{% url 'home' %}"><img src="{% static 'images/knight.png' %}" alt="Black chess piece knight horse brand logo"></img>The BoardGameStore</a>
      <button class="navbar-toggler knight" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navfont">
          <li class="nav-item">
            {% if user.is_authenticated and user.is_superuser %}
            <a class="nav-link add_game" href="{% url 'create_game' %}"><i class="fas fa-heart"></i> Add a Game</a> 
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show_games' %}"><i class="fas fa-puzzle-piece"></i> Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart"></i> Cart ({{number_of_items}})</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact_us' %}"><i class="fas fa-map-marker-alt"></i> Contact Us</a>
          </li>

          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-circle"></i> REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-user-circle"></i> LOGIN</a>
          </li>
          {% endif %} 
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user-circle"></i> MY ACCOUNT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout_confirm' %}"><i class="fas fa-user-circle"></i> LOGOUT</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>

  <!-- flash messages-->
  <div class="container">
    {% if messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {% for message in messages %} {{ message }} {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true" class="cross">&times;</span>
  </button>
    </div>
    {% endif %}
  </div>

  <div class='container'>
    {%block content%}{%endblock%}
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="company_name">
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/knight.png' %}" alt="Black chess piece knight horse brand logo"></img>The BoardGameStore</a>
        </div>
      </div>

      <div class="row">
        <div class="company_links">
          <ul>
            <a href="{% url 'contact_us' %}">
              <li>Contact Us</li>
            </a>
            <a href="{% url 'terms_and_conditions' %}">
              <li>Terms & Conditions</li>
            </a>
            <a href="{% url 'privacy_policy' %}">
              <li>Privacy Policy</li>
            </a>
            <a href="{% url 'refund_policy' %}">
              <li>Refund Policy</li>
            </a>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="social_media">
          <span><a href="https://github.com/Paddlepop25" target="_blank"><i class="fab fa-github fa-2x"></i></a></span>
          <span><a href="https://www.linkedin.com/in/lindahsu007/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a></span>
          <span><a href="https://twitter.com/shecodeshsucode" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></span>
          <span><a href="https://www.instagram.com/shecodeshsucodes/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></span>
          <p class="copyright">&copy; Designed by Linda Hsu, 2019</p>
          <small>For educational purpose</small>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/0cd9398b96.js" crossorigin="anonymous"></script>
  <script src="{% static 'scripts/app.js' %}"></script>
  {% block footer_js %}
  {%endblock%}
</body>

</html>
