{% load static %}

<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}" type="text/css" />
  <title>{%block title%} {%endblock%}</title>
  <link rel="icon" href="{% static 'images/chess-favicon.png' %}" type="image/x-icon" />
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="The BoardGameStore">
  <meta name="keywords" content="Boardgames, Fun, Puzzle, Party, Games">
  <meta name="author" content="Linda Hsu">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid top-row">
    <div class="row bg-dark">
      <div class="free-shipping">
        <p>Free Shipping on All Orders Over $100!</p>
      </div>
    </div>

    <div class="row bg-dark">
      <div class="search_games">
        <form method="GET" class="form-inline" action="{% url 'show_games' %}">
          <input name="search_terms" class="form-control mr-sm-2" type="search" placeholder="Games Search">
          <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>

    <div class="row bg-dark">
      <div class="account">
        <ul>
          {% if not user.is_authenticated %}
          <li><a href="{% url 'register' %}">REGISTER</a></li>
          <li><a href="{% url 'login' %}">LOGIN</a></li>
          {% endif %} {% if user.is_authenticated %}
          <div class="row hello">
            <p>Hello {{ request.user.username }}!</p>
          </div>
          <!--<li><a href='{% url 'profile' %}'/>PROFILE</a>-->
          <!--<li><a href='{% url 'password_reset' %}'>Reset password</a></li>-->
          <li><a href="{% url 'profile' %}" />MY ACCOUNT</a>
          </li>
          <li><a href="{% url 'logout_confirm' %}" />LOGOUT</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">The BoardGameStore</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-heart"></i> Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart"></i> Cart ({{number_of_items}})</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_account' %}"><i class="fas fa-user-circle"></i> Account</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          <i class="fas fa-puzzle-piece"></i>
          Games
        </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Board Games</a>
              <a class="dropdown-item" href="#">Card Games</a>
              <a class="dropdown-item" href="#">Party Games</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'show_games' %}">Shop</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <!-- flash messages-->
  <div class="container">
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {% for message in messages %} {{ message }} {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endif %}
  </div>
  </div>


  <div class='container'>
    <!--<h1>{%block page_title%}{%endblock%}</h1>-->
    {%block content%}{%endblock%}
  </div>


  <footer class="footer">
    <div class="container-fluid">
      <div class="row bg-dark">
          <div class="company_name">
            <a class="navbar-brand" href="{% url 'home' %}">The BoardGameStore</a>
          </div>
      </div>


<div class="row bg-dark">
      <div class="search_games">
        <form method="GET" class="form-inline" action="{% url 'show_games' %}">
          <input name="search_terms" class="form-control mr-sm-2" type="search" placeholder="Games Search">
          <button class="btn btn-outline-warning" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>
    </div>
      
      <div class="row bg-dark">
        <div class="col col-md-8">
        <div class="company_links">
          <ul>
            <a href=""><li>Contact Us</li></a>
            <a href="{% url 'terms_and_conditions' %}"><li>Terms & Conditions</li></a>
            <a href="{% url 'privacy_policy' %}"><li>Privacy Policy</li></a>
            <a href="{% url 'refund_policy' %}"><li>Refund Policy</li></a>
          </ul>
        </div>
        </div>
        
        <div class="col col-md-4">
      <div class="social_media">
        <span><a href="https://github.com/Paddlepop25" target="_blank"><i class="fab fa-github fa-2x"></i></a></span>
        <span><a href="https://www.linkedin.com/in/lindahsu007/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a></span>
        <span><a href="https://twitter.com/shecodeshsucode" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></span>
        <span><a href="https://www.instagram.com/shecodeshsucodes/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></span>
        <p class="copyright">&copy; Designed by Linda Hsu, 2019</p>
        <small>For educational purpose</small>
      </div>
        </div>
        
      </div>
        

    </div>
  </footer>


  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/0cd9398b96.js" crossorigin="anonymous"></script>
  <script src="{% static 'scripts/app.js' %}"></script>
</body>

</html>
