body {
    margin: 0;
    box-sizing: border-box;
}


/* Top row of base.html */
.top-row p,a {
    color: orange;
}

.top-row .free-shipping {
    margin: 0 auto;
    margin-top: 15px;
}

.top-row .search_games {
    margin: 0 auto;
    margin-bottom: 15px;
}

/*.top-row .account {*/
/*    margin: 0 auto;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.top-row .hello {*/
/*    margin: 0 auto;*/
/*}*/

/*.top-row .account li {*/
/*    list-style-type: none;*/
/*    float: left;*/
    /*margin-right: 10px;*/
/*}*/

/*.top-row .account a {*/
/*    color: orange;*/
/*}*/

/* Navbar of base.html */
.navbar li {
    text-align: center
}

/* Games' card*/
.card {
    /*border: none;*/
    height: 30rem;
}

/* Shopping Cart page*/
img {
    width: 4rem;
}

/*Footer*/
.footer p,a,small {
    color: orange;
}

.footer .company_name {
    margin: 0 auto;
    margin-top: 15px;
}
 
.footer .search_games {
    margin: 0 auto;
    margin-bottom: 15px;
} 
    
.footer li {
    list-style-type: none;
    float: left;
    /*margin-right: 5px;*/
}    