body {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Rubik', sans-serif;
}

/* Top row of base.html */

.top-row p,
.top-row a {
    color: orange;
}

.top-row .free-shipping {
    margin: 0 auto;
    margin-top: 15px;
}

.top-row .search_games {
    margin: 0 auto;
    margin-bottom: 15px;
}

.top-row .search_games input {
    width: 15rem;
    margin-bottom: 15px;
}

.top-row .search_games button {
    width: 41px;
    margin-top: -1rem;
    margin-left: 5px;
}

/* Navbar of base.html */

.navbar_whole {
    padding: 0 !important;
    margin-bottom: 2rem;
}

.navbar_whole .navbar {
    background: #FFAA25 !important;
}

.navbar_whole .boardgamestore_brand {
    margin: 0 auto;
}

.navbar_whole button {
    border: none;
}

.navbar li {
    text-align: center;
}

.navbar img {
    width: 4rem;
}

.navbar-light .navfont a {
    color: black !important;
}

.navbar-light .add_game {
    margin-left: 10px;
}

.navbar-light .navfont a:hover {
    color: white !important
}

/* Home page*/

.show .cross {
    margin-left: 15rem;
}

.welcome_image img {
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

.welcome_message h1,h3 {
    text-align: center;
}

.best_sellers .card {
    border: 1px solid black;
}

.best_sellers .card img {
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
}

/*Search results*/

.search_results {
    margin-top: 3rem;
    margin-bottom: 7rem;
}

/* Game cards*/

.best_sellers .card {
    margin-bottom: 3rem;
}

.best_sellers .more_info {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.best_sellers .add_to_cart {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.best_sellers .add_to_cart:hover {
    color: white;
}

.search_results .card {
    border: none;
}

.card_games .card {
    border: none;
}

.party_games .card {
    border: none;
}

.board_games .card {
    border: none;
}

.no_results {
    text-align: center;
}

.no_results img {
    width: 80%;
    margin: 1rem auto;
}

.search_results .more_info {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.search_results .add_to_cart {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.card_games .more_info {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.card_games .add_to_cart {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.card_games .add_to_cart:hover {
    color: white;
}

.party_games .more_info {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.party_games .add_to_cart {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.board_games .more_info {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.board_games .add_to_cart {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.card {
    width: 16rem;
    height: 30rem;
    margin: 0 auto;
}

.card-title {
    font-weight: bolder !important;
}

.card a {
    width: 13rem;
    margin: 8px auto;
}

.price_strikethrough {
    text-decoration: line-through;
    color: gray;
    margin-right: 5px;
}

/*Game info page*/

.game_info .card {
    width: 18rem;
    height: 120rem;
    margin-top: 2rem;
    border: none;
}

.game_info li {
    list-style-type: none;
}

.game_info_links a {
    width: 100%;
}


/* Shopping Cart page*/

.cart {
    margin-bottom: 23rem;
}

.cart img {
    width: 5rem;
}

.cart .plus {
    color: orange;
}

.cart .plus:hover {
    color: goldenrod;
}

.cart .minus {
    color: orange;
}

.cart .minus:hover {
    color: goldenrod;
}

.cart i {
    color: black;
}

.cart .dustbin {
    color: red;
}

.cart .dustbin:hover {
    color: crimson;
}

.free_delivery td {
    border: none;
}

.free_delivery td small {
    position: relative;
    top: -1.8rem;
}

.cart .shopping {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    color: black;
    width: 100%;
}

.cart button {
    height: 2.4rem;
    width: 100%;
    margin-bottom: 1rem;
}

/*Empty cart*/

.empty_cart {
    margin: 0;
}

.empty_cart h3 {
    margin: 10px auto;
}

.empty_cart img {
    width: 80%;
    margin: auto;
}

.cart .tablet_td {
    border: none;
}

#checkout_mobile {
    margin-bottom: 10px;
}

#checkout_tablet {
    cursor: pointer;
}

/*small screens view;*/

.small_cart img {
    width: 6rem;
}

.small_cart tr td:first-child {
    padding-left: 2rem;
}

.small_cart .insert_line {
    height: 2rem;
}

.small_cart td {
    border-top: none;
    border-bottom: none;
}

/*Standardised form look for all pages with forms*/

.create_game_form_look {
    background: #fffbed;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
    height: 80rem;
}

.create_game_form_look a {
    width: 100%;
    margin-top: 1rem;
}

.update_game_form_look {
    background: #fffbed;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
    height: 100rem;
}

.update_game_form_look a {
    width: 100%;
    margin-top: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}


.confirm_delete_look {
    text-align: center;
    margin-top: 2rem;
}

.confirm_delete_look a,input {
    width: 100%;
}

.confirm_delete_look .card {
    border: none;
    margin-top: 2rem;
}

.confirm_delete_look img {
    width: 80%;
}

/*Profile page*/

.accounts_form_look {
    background: #fffbed;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
    height: 25rem;
    text-align: center;
    margin-bottom: 16rem;
}

.accounts_form_look a {
    width: 100%;
    margin-bottom: 1rem;
}

.accounts_form_look span {
    font-size: 1.5rem;
}

.accounts_form_look .username {
    margin-left: 3px;
    font-size: 1.8rem;
}

/*Register page*/

.register_form_look {
    background: #fffbed;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
    height: 40rem;
}

.register_form_look a {
    color: orange;
}

.register_form_look button {
    width: 100%;
}

/*Login page*/

.login_form_look {
    background: #fffbed;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
    height: 40rem;
}

.login_form_look a {
    color: orange;
}

.login_form_look a,button {
    width: 100%;
}

.login_form_look .forgot_password {
    color: white;
}

/* Reset password page*/

.reset_password_form_look {
    background: #fffbed;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
    height: 30rem;
    margin-bottom: 10rem;
}

.reset_password_form_look input {
    margin-top: 10px;
    width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Change password page*/

.change_password_form_look {
    background: #fffbed;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
    height: 50rem;
}

.change_password_form_look input {
    margin-top: 10px;
    width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}


/*Checkout page*/

.checkout_form {
    background: #fffbed;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
    height: 80rem;
}

.checkout_form a {
    width: 100%;
    margin: 10px auto;
}

/*Checkout success page*/

.checkout_success {
    text-align: center;
    margin-bottom: 5rem;
}

.checkout_success h2 {
    margin-top: 10px;
}

.checkout_success img {
    margin-top: 10px;
    width: 80%;
}

.checkout_success a {
    margin-top: 1rem;
    width: 70%;
}

/* Password reset success page*/

.password_reset_done {
    text-align: center;
}

.password_reset_done h2 {
    margin-top: 10px;
}

.password_reset_done img {
    margin-top: 10px;
    width: 80%;
    margin-bottom: 5rem;
}

/* Password change success page*/

.password_change_done {
    text-align: center;
}

.password_change_done h2 {
    margin-top: 10px;
}

.password_change_done img {
    margin-top: 10px;
    width: 80%;
}

.password_change_done a {
    margin-top: 10px;
    width: 80%;
    height: 100%;
}

/*Contact page*/

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 70% !important;
    border: none;
}

.more_info {
    margin-top: -2rem;
}

.contact_us {
    margin-top: -4rem;
}

.reaching_us {
    padding: 0;
}

.reaching_us li {
    list-style-type: none;
}

.contact_form_look {
    background: #fffbed;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 8px grey;
    margin: 100px auto;
    padding: 20px;
    height: 45rem;
}

.contact_form_look button {
    width: 100%;
}

.contact_form_look button:hover {
    color: white;
}

.footer .row {
    background: #FFAA25;
}

.footer img {
    width: 4rem;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: white;
}


.footer .company_name {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 1.2rem;
}

.footer .company_links {
    margin: 0 auto;
}

.footer .company_links ul {
    padding-left: 0;
    text-align: center;
    padding-bottom: 1rem;
}

.footer .company_links li {
    list-style-type: none;
}

.footer .company_links a {
    text-decoration: none;
}

.footer .social_media {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3rem;
}

.footer .social_media a {
    font-size: 14px;
    padding-right: 5px;
}

/* 404 Error page*/

.error_page {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.error_page h2 {
    margin-top: 10px;
}

.error_page img {
    margin-top: 10px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
}

.error_page a {
    margin-top: 1rem;
    width: 60%;
}

@media (min-width: 320px) {
    .best_sellers .card {
        height: 25rem;
    }
}

@media (min-width: 360px) {
    .show .cross {
        margin-left: 18rem;
    }
}

/*@media (min-width: 364px) and (max-width: 575px) {*/
/*    .best_sellers .card {*/
/*        height: 38rem;*/
/*    }*/
/*}*/

@media (max-width: 386px) {
    .knight {
        margin: 0 auto;
    }
}

@media (min-width: 411px) {
    .show .cross {
        margin-left: 21rem;
    }
}


@media (min-width: 425px) {
    .more_info {
        margin-top: -4rem;
    }

    .show .cross {
        margin-left: 22rem;
    }

}

@media (min-width: 576px) {
    .show .cross {
        margin-left: 29rem;
    }
}

@media (min-width: 768px) {
    .show .cross {
        margin-left: 40rem;
    }

    .checkout_form {
        width: 70%;
    }

    .checkout_form input {
        width: 210%;
    }


    #submit_payment_btn {
        width: 100%;
        margin-top: 1rem;
    }

    .checkout_form .card {
        height: 73rem;
    }

    .game_info .card {
        width: 40rem;
    }

    .more_info {
        margin-top: -7rem;
    }

    .accounts_form_look a {
        width: 50%;
        margin-bottom: 1rem;
    }

}

@media (min-width: 992px) {
    .more_info {
        margin-top: -4rem;
    }

    .contact_us {
        margin-top: -16rem;
    }

    .logout {
        margin-bottom: 16rem;
    }

}

@media (min-width: 1024px) {
    .show .cross {
        margin-left: 55rem;
    }

    .game_info .card {
        width: 58rem;
    }

}

@media (min-width: 1440px) {
    .show .cross {
        margin-left: 66rem;
    }

    .game_info .card {
        width: 69rem;
    }

}