body {
    margin: 0;
    box-sizing: border-box;
}


/*Top row of base.html*/
.top-row,a {
    color: orange;
}

.account {
    text-align: right;
}

.account li {
    list-style-type: none;
    float: left;
    margin-right: 5px;
}

/* Games' card*/
.card {
    /*border: none;*/
    height: 30rem;
}

/* Shopping Cart page*/
img {
    width: 4rem;
}

/*Footer*/
.footer {
    background: #F5F2F2;
}
    
.footer li {
    list-style-type: none;
    float: left;
    margin-right: 5px;
}    