{% extends 'base.html' %} 
{% load crispy_forms_tags %} 
{% block title %} Games Catalogue {% endblock %} 

{% block content %}
<h1>Games</h1>
<a href="{% url 'create_game' %}">Create New Game</a>

<!--<form method='GET'>-->
<!--    {{search_form|crispy}}-->
<!--    <input type='submit' value='Search' class='btn btn-primary' />-->
<!--</form>-->

<section class="games">
    <div class="row">
        {% for game in all_games %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card" style="width: 18rem;">
                <a href=""><img src="{{game.image.cdn_url}}" class="card-img-top" alt="Fun boardgame {{game.name}} cardboard box"></a>
                <div class="card-body">
                    <h5 class="card-title">{{game.name}}</h5>
                    <p class="card-text">${{game.price}}</p>
                    <a href="{% url 'add_to_cart' game_id=game.id %}" class="btn btn-outline-success">ADD TO CART</a>
                    <a href="{% url 'game_info' game_id=game.id %}" class="btn btn-warning">MORE INFO</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{%endblock%}