{% extends 'base.html' %} 

{% block title %} Edit Game {% endblock %} 

{% load crispy_forms_tags %} 
{%block content %}
<div class="update_game_form_look">
    <h1>Edit Game</h1>
    {{ form.media }}
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %} {{ form|crispy }}

        <input type='submit' value='UPDATE GAME' class="btn btn-success" />
        <a href="{% url 'confirm_delete' game_id=game.id %}" class="btn btn-danger confirm_delete_game">DELETE GAME</a>

    </form>
</div>
{%endblock%}